#mapid {
  height: 300px;
}

#insights {
  display: none;
}

.fa {
  color: #27CED7;
}

.fa-check {
  color: green;
}

.fa-exclamation {
  color: red;
}

.fa-magic,
.fa-caret-up {
  color: #335B74;
}

.bg-cyan-blue {
  background-color: #335B74;
}

.bar-step {
  position: absolute;
  z-index: 1;
  font-size: 12px;
  left: 50%;
}

.btn-blue {
  background-color: #2683C6;
  border-color: #2683C6;
  color: #ffffff;
}

.bg-warning {
  background-color: #7DE2E7 !important;
}

.bg-almost {
  background-color: #1CADE4 !important;
}

a.nav-link {
  color: #2683C6;
}

.nav-link.active.show {
  background-color: #2683C6;
}

.label-txt {
  float: right;
  font-size: 10px;
  margin-left: 5px;
  margin-top: 15px;
}

.label-line {
  float: right;
  background: #050068;
  height: 15px;
  width: 3px;
}

.label-line i {
  margin-left: -2px;
  margin-top: 15px;
}
