#mapid {
  height: 300px;
}

#insights {
  display: none;
}

.fa {
  color: #007bff;
}

.fa-magic {
  color: #050068;
}

.bg-indigo {
  background-color: #050068;
}

input.custom-select {
  background: none;
}